#finn {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(43, 175, 236);
    background-image: url(imagenes/finn.png);
    background-position: 50%50%;
    background-size: 300px;
    background-repeat: no-repeat;
    padding: 50px;
    border: 5px solid rgb(4, 35, 136) ;
    float: left;

}

#jake {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(8, 155, 8);
    background-image: url(imagenes/jake.png);
    background-position: 50%50%;
    background-size: 300px;
    background-repeat: no-repeat;
    padding: 50px;
    border: 5px solid rgb(0, 0, 0) ;
    float: left;

}

#reyhelado {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(148, 185, 202);
    background-image: url(imagenes/reyhelado.webp);
    background-position: 50%50%;
    background-size: 250px;
    background-repeat: no-repeat;
    padding: 50px;
    border: 5px solid rgb(4, 35, 136) ;
    float: left;
}

#simon{
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(94, 82, 82);
    background-image: url(imagenes/simon.png);
    background-position: 50%50%;
    background-size: 150px;
    background-repeat: no-repeat;
    padding: 50px;
    border: 5px solid rgb(180, 43, 43) ;
    float: left;
}

#dulceprincesa {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(212, 80, 224);
    background-image: url(imagenes/dulceprincesa.png);
    background-position: 50%50%;
    background-size: 365px;
    background-repeat: no-repeat;
    padding: 50px;
    border: 5px solid rgb(232, 248, 11) ;
    float: left;

}

#marceline {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(116, 62, 62);
    background-image: url(imagenes/marceline.png);
    background-position: 50%50%;
    background-size: 250px;
    background-repeat: no-repeat;
    padding: 50px;
    border: 5px solid rgb(9, 28, 88) ;
    float: left;

}

#prismo {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(255, 239, 10);
    background-image: url(imagenes/prismo.png);
    background-position: 50%50%;
    background-size: 350px;
    background-repeat: no-repeat;
    padding: 50px;
    border: 5px solid rgb(253, 15, 174) ;
    float: left;

}

#lich {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(83, 76, 76);
    background-image: url(imagenes/lich.webp);
    background-position: 50%50%;
    background-size: 390px;
    background-repeat: no-repeat;
    padding: 50px;
    border: 5px solid rgb(58, 247, 11) ;
    float: left;

}


@font-face {

    font-family: hora de aventura;

    src: url(fonts/adventure-time/Adventure\ Time\ Logo.ttf);


}

h1{
    font-family: hora de aventura;

    font-size: 100px;
    text-align: center;
}